# sw1 device specfic parameters

---

interfaces:
  - name: Ethernet1
    ipv4: 192.168.12.1/24
    enabled: True
    state: up
    switchport: False
  - name: Loopback0
    ipv4: 1.1.1.1/32
    enabled: True
    state: up

bgp:
  asn: 1
  routerid: 1.1.1.1
  neighbors:
    - address: 192.168.12.2
      remoteas: 2
  networks:
    - address: 1.1.1.1/32
