license grace-period
feature bgp
!
router bgp {{ bgp.asn }}
  router-id {{ bgp.routerid }}
  {% for network in bgp.networks -%}
  address-family {{ network.addrfamily }}
    network {{ network.address }}
  {% endfor -%}
  {% for neighbor in bgp.neighbors -%}
  neighbor {{ neighbor.address }}
    remote-as {{ neighbor.remoteas }}
    address-family {{ neighbor.addrfamily }}
  {% endfor -%}